*{
	margin: 0;
	padding: 0;
}
body{
	background: #000000;
}

.section{
	position: relative;
	padding: 0;
	margin: 0;
	float: left;
	width: 100%;
}

.container {
	width: inherit; 
	max-width:960px;
	margin: 0 auto; 
	position: relative;
}
.top_header{
	background: #232323;
	height: 122px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.head_contact{
	padding-right: 20px;
	padding-top: 44px;
}
.head_contact ul li{
	color: #999999;	
	list-style: none;
	font-size: 13px;
}
.head_contact ul li span{
	color: #fdc507;
}
.logo{
	padding-left: 20px;
}
.menu{
	background: linear-gradient(to top, #1a1a1a 50%, #333 50%);
	height: 40px;
	font-size: 13px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.menu ul{
	display: flex;
	padding-left: 20px;
}
.menu ul li{
	list-style: none;
	margin-right: 50px;	

}
.menu ul li a{
	text-decoration: none;
	color: white;
}
.menu ul li a:hover{
	color: #676767;
}
.menu form input[type=search] {
	background: #161616;
	color: white;
	font-size: 12px;
	text-transform: uppercase;
	border-radius: 32px;
	border: none;
	padding: 5px 5px;
}
.menu form button {
	position: absolute;
	top: 0;
	right: 5px;
	background: none;
	border: none;
	color: #7c7d7c;
	font-size: 20px;
}





.slider{
	background: #616161;
	height: 420px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;	
}
.slider div:first-child{
	color: white;
	font-size: 36px; 
}
.slider div:last-child{
	position: absolute;
	bottom: 0;

}


.news{
	background: white;
	display: flex;
	justify-content: space-around;

}

.news div{
	width: 278px;
	height: 138px;
	background: #616161;
	border: 10px solid #cacaca;
	margin-top: 30px;
}

















.footer{
	background: #dfdfdf;
	height: 170px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}



